<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="build/css/tailwind.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <div id="app" class="wrapper w-full max-w-4xl"> 
        <div class="signature">
            <span>D</span>
            <span>.</span>
            <span>M</span>
        </div>
        <button  class="btn" @click="restart()" >Restart</button>
        <div class="text-xl mt-8 ml-20 cursor-pointer">Allowed moves : {{moves}} </div>

        <div class="loss text-red-700 text-center p-2" v-if="loss" >you loss ):</div>
        <div class="loss text-green-700 text-center p-2" v-if="win" >you win (:</div>
        <div class="loss text-yellow-700 text-center p-2" v-if="Keep" >Keep going</div>
       
        <div class="bg-gray-300 w-6/7 ha flex mx-3 my-3">
            <div @click="to(0)" class="cursor-pointer w-1/3 border-b-8 border-red-700 flex flex-col-reverse items-center px-3">
                <div v-for="box in boxes[0]" @click="moving(box.index,box.id)" class="cursor-pointer" :class="[box.color , box.width , box.height ,box.margin]"></div> 
            </div>
            <div @click="to(1)" class="cursor-pointer w-1/3 border-b-8 border-yellow-700 flex flex-col-reverse items-center px-3">
                <div v-for="box in boxes[1]" @click="moving(box.index,box.id)" class="cursor-pointer" :class="[box.color , box.width , box.height ,box.margin]"></div> 
            </div>
            <div @click="to(2)" class="cursor-pointer w-1/3 border-b-8 border-green-700 flex flex-col-reverse items-center px-3">
                <div v-for="box in boxes[2]" @click="moving(box.index,box.id)" class="cursor-pointer" :class="[box.color , box.width , box.height ,box.margin]"></div> 
            </div>    
        </div>
       
    </div>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>